* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 8000px;
    color: #f9f9f9;
    background: #c7b1e4;
}

img {
    width: 100%;
}

.head {
    display: flex;
    margin: 10px 0;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 40%;
    margin: 100px auto;
    box-shadow: -2px 3px 4px 0px #804092;
    border-radius: 4px;
    padding: 35px;
    background-color: rgba(104, 41, 171, 0.492);
}

input[type=text] {
    width: 80%;
    height: 30px;
    outline: none !important;
    border: none;
    font-weight: bold;
    margin: 15px auto;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 5px 10px;
    background-color: white;
    color: #61065071;
}

input:focus {
    background-color: white;
    outline: 2px solid;
}

.bar {
    min-height: 20px;
}

.bar button {
    width: 20%;
    height: 30px;
    margin: 10px;
    border: 1px solid #804092;
    cursor: pointer;
    float: right;
    font-weight: bold;
    color: #804092;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button:hover {
    background-color: #61065071;
    color: white;
}

.head img {
    width: 120px;
}

.add,
.cancel {
    width: 10%;
    margin: 15px 15px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #61065071;
    padding: 7px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.add:hover {
    background-color: #b271d271;
}

.cancel:hover {
    background-color: #b271d271;
}

a:hover {
    background-color: #61065071;
}

table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

th,
td {
    padding: 5px;
}

a {
    margin: auto 8px;
}

/* p {
    display: fixed;
    bottom: 4px;
    right: 4px;
    color: white;
    font-size: medium;

} */
tbody tr:nth-child(even) {
    background: #9452a54a;
}

.note {
    display: flex;
}

.errorMessage {
    font-weight: bold;
    color: #9e0505;
    background-color: rgb(150 111 181 / 62%);
    width: 95%;
    margin: 0 auto;
    padding: 5px 10px;
}